/node_modules/
# /vendor/
# /bower_components/

.env
.env.*

.DS_Store
Thumbs.db
*.swp
*.pyc
/*.txt

.vscode/

.git/
.vscode/

/logs/*
/tmp/*
!logs/.gitkeep

/dist/
/build/
/out/


# # SPECIAL HANDLING FOR VERIFICATION
# # Allow ONLY the verification file while hiding the directory listing
# .well-known/*
# !.well-known/pages-verification.txt

# TEMPORARY EXCEPTION - remove after verification
!.well-known/pages-verification.txt
.well-known/
